:root {
  --font-family: 'Roboto', sans-serif;
}

html {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: auto;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #f8f9fa;
  font-family: 'Roboto', sans-serif;
}

input,
textarea,
select,
button {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
